---
title: NakamApp - Services
---


<div class="company-service-title-container">
  <div class="company-services-category-tabs">
    <ul>
      <li>
        <a href="/services.html"><i class="fas fa-code"></i>Web Development</a>
      </li>
      <li>
        <a class="active" href="/design-thinking.html"><i class="fas fa-brain"></i>Design Thinking</a>
      </li>
      <li>
        <a href="/digital-marketing.html"><i class="fab fa-cloudsmith"></i>Digital Marketing</a>
      </li>
      <li>
        <a href="/graphic-design.html"><i class="fab fa-connectdevelop"></i>Graphic Design</a>
      </li>
    </ul>
  </div>
  <header>
    <h1 class="company-service-title-header">Design Thinking</h1>
  </header>
  <p class="company-service-details-paragraph">Today, your online presence is the main way for you to attract potential customers. Whether you need a corporate website, an improvement on an existing application, or a way to put your business idea into action, we will build you an adaptable and scalable solution to match your vision and ambition.
  </p>
  <div class="company-services-details-services-wrapper">
    <div class="company-services-details-list-wrapper">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 services-list-items">
          <img src="" alt="">
          <h2 class="text-center services-list-item-header">Corporate</h2>
          <div class="services-list-item-content-wrapper">
            <div class="services-list-item-content">
          Showcase who you are and what you have to offer. Do you need a website for you, your business, or your portfolio?
          </div>
          </div>
          <div class="services-details-icons">
            <%= image_tag 'middleman.png', class: "service-icon" %>
            <%= image_tag 'wordpress.png', class: "service-icon", id: "wordpress" %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 services-list-items">
          <img src="" alt="">
          <h2 class="text-center services-list-item-header">Rebuilds</h2>
          <div class="services-list-item-content-wrapper" id="middle-service-list-item">
            <div class="services-list-item-content">
          Technology is always on the move. Does your website need to be revitalized? With experience and constant research into the latest technologies and trends, we have you covered.
          </div>
          </div>
          <div class="services-details-icons">
            <%= image_tag 'react.png', class: "service-icon", id: "react" %>
            <%= image_tag 'bootstrap.png', class: "service-icon", id: "bootstrap" %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 services-list-items">
          <img src="" alt="">
          <h2 class="text-center services-list-item-header">Web Applications</h2>
          <div class="services-list-item-content-wrapper">
            <div class="services-list-item-content">
          Have an idea for an App? Or need software to help you run a more efficient business? Our team can custom tailor applications and Web Apps to meet your needs using the latest technology available.
          </div>
          </div>
          <div class="services-details-icons">
            <%= image_tag 'heroku.png', class: "service-icon", id: "heroku" %>
            <%= image_tag 'rails.png', class: "service-icon" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contact-us-button">
    <%= link_to "Contact Us", "/contact.html", class: "button" %>
  </div>
</div>


